{
  email admin@engineerfamily.net
}

engineerfamily.net, www.engineerfamily.net {
  reverse_proxy app:8000
}

streamlit.engineerfamily.net {
  reverse_proxy streamlit:8501
}

preprod.engineerfamily.net {
  basicauth {
    admin {$CADDY_ADMIN_HASH}
  }
  reverse_proxy app-preprod:8000
}

preprod-streamlit.engineerfamily.net, streamlit-preprod.engineerfamily.net {
  basicauth {
    admin {$CADDY_ADMIN_HASH}
  }
  reverse_proxy streamlit-preprod:8501
}

umami.engineerfamily.net, analytics.engineerfamily.net {
  reverse_proxy umami:3000
}
